# some file types

*.blend1
*.blend2
*.DS_Store
*.old
*.sav
*.kra~
*.ffs_db

# some specific files

Thumbs.db
scene.log
_site
.sass-cache
.jekyll-metadata
.jekyll-cache
Gemfile.lock
.sass-cache
.ffs_lock