<ul class="uk-nav uk-nav-default tm-nav">
    <li>
        <a href="/api/">About the API</a>
    </li>
</ul>
<h3>API</h3>
<ul class="uk-nav uk-nav-default tm-nav">
    <li>
        <a href="/api/animate">_r.animate</a>
    </li>
    <li>
        <a href="/api/color">_r.color</a>
    </li>
    <li>
        <a href="/api/is">_r.is</a>
    </li>
    <li>
        <a href="/api/launch">_r.launch</a>
    </li>
    <li>
        <a href="/api/load">_r.load</a>
    </li>
    <li>
        <a href="/api/patch">_r.patch</a>
    </li>
    <li>
        <a href="/api/select">_r.select</a>
    </li>
    <li class="uk-nav-header">Events</li>
    <li>
        <a href="/api/off">off</a>
    </li>
    <li>
        <a href="/api/on">on</a>
    </li>
    <li>
        <a href="/api/one">one</a>
    </li>
    <li>
        <a href="/api/trigger">trigger</a>
    </li>
</ul>