<h3>Documentation</h3>
<ul class="uk-nav uk-nav-default tm-nav">
    <li>
        <a href="/documentation/">Introduction</a>
    </li>
    <li>
        <a href="/documentation/philosophy">Philosophy</a>
    </li>
    <li>
        <a href="/documentation/organize-your-app">How to organize your app</a>
    </li>
</ul>
<ul class="uk-nav uk-nav-default tm-nav uk-margin-top">
    <li>
        <a href="/documentation/launch">Launch</a>
    </li>
    <li>
        <a href="/documentation/animate">Animate</a>
    </li>
    <li>
        <a href="/documentation/events">Events</a>
    </li>
    <li>
        <a href="/documentation/events">Patch</a>
    </li>
</ul>
<ul class="uk-nav uk-nav-default tm-nav uk-margin-top">
    <li class="uk-nav-header">Scene manipulation</li>
    <li>
        <a href="#">Selector</a>
    </li>
    <li>
        <a href="#">Elements</a>
    </li>
    <li>
        <a href="#">Assets management</a>
    </li>
</ul>
<ul class="uk-nav uk-nav-default tm-nav uk-margin-top">
    <li class="uk-nav-header">Utility</li>
    <li>
    <a href="#">Loading Screen</a>
    </li>
    <li>
        <a href="#">Custom Events</a>
    </li>
    <li>
        <a href="#">Color</a>
    </li>
    <li>
        <a href="#">Node Data</a>
    </li>
    <li>
        <a href="#">Is</a>
    </li>
</ul>
<ul class="uk-nav uk-nav-default tm-nav uk-margin-top">
    <li class="uk-nav-header">Advanced features</li>
    <li>
        <a href="#">Functions in patch</a>
    </li>
    <li>
        <a href="#">Events in patch</a>
    </li>
    <li>
        <a href="#">Promises in patch</a>
    </li>
    <li>
        <a href="#">Patch plugins</a>
    </li>
</ul>