<div id="header" uk-sticky="media: 960" class="uk-navbar-container uk-sticky uk-active">
    <div class="uk-container uk-visible@m uk-container-expand">
        <nav class="uk-navbar" >
            <div class="uk-navbar-left">
                <a href="/" class="uk-navbar-item">
                    <img src="{{ 'assets/logo.png' | absolute_url}}" width="80px" height="80px"/>
                </a>
            </div>
            <div class="uk-navbar-right">
                <nav class="uk-navbar-container" uk-navbar>
                    <ul class="uk-navbar-nav">
                        <li><a href="/documentation/">Documentation</a></li>
                        <li><a href="/help/">Help</a></li>
                        <li><a href="/help/">Blog</a></li>
                    </ul>
                    <!--<div class="uk-navbar-item">
                        <form class="uk-search uk-search-default">
                            <span uk-search-icon></span>
                            <input class="uk-search-input" type="search" placeholder="Search...">
                        </form>
                    </div>-->
                    <div class="uk-navbar-item">
                        <a class="uk-navbar-item" href="https://github.com/babylon-runtime/_r" class="uk-icon-link" uk-icon="icon:github; ratio:2" target="_blank"></a>
                    </div>
                </nav>
            </div>
        </nav>
    </div>
    <div class="uk-container uk-hidden@m">
        <nav class="uk-navbar">
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li><a href="/" class="uk-icon-link" uk-icon="home"></a></li>
                    <li><a href="/documentation/">Documentation</a></li>
                    <li><a href="/help/">Help</a></li>
                    <li><a href="/help/">Blog</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li> <a href="https://github.com/babylon-runtime/_r" class="uk-icon-link" uk-icon="icon:github;" target="_blank"></a></li>
                    <!--<li> <a class="uk-icon-link uk-navbar-toggle" href="#" uk-search-icon></a></li>-->
                </ul>
            </div>
            <div class="uk-navbar-dropdown" uk-drop="mode: click; cls-drop: uk-navbar-dropdown; boundary: !nav">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <form class="uk-search uk-search-navbar uk-width-1-1">
                            <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
                        </form>
                    </div>
                    <div class="uk-width-auto">
                        <a class="uk-navbar-dropdown-close" href="#" uk-close></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>