---
---
@import "code";
@import "sidebar-right";
#header {
  background-color: #201936;
  .uk-navbar-item,  .uk-navbar-container {
    background-color: #201936;
  }
  .uk-search-input, .uk-navbar-nav > li > a, .uk-navbar-item a, .uk-search .uk-icon {
    color:white;
  }
}

.tm-main.home {
  background-color: #201936;
  color:white;
  h1, h2, h3, h4, h5 {
    color:white;
  }
  .uk-card-default {
    background-color: #201936;
    color:white;
  }
}

.tm-sidebar-left {
  position: fixed;
  top: 80px;
  bottom: 0;
  box-sizing: border-box;
  width: 240px !important;
  padding: 40px 40px 60px 40px;
  border-right: 1px #e5e5e5 solid;
  overflow: auto;
}

.tm-sidebar-right {
  position: absolute;
  top: 0;
  left: calc(100% + 0px);
  width: 200px
}

@media (min-width: 960px) {
  .tm-sidebar-left+.tm-main {
    padding-left:240px
  }
}

@media (min-width: 1200px) {
  .tm-sidebar-right {
    left:calc(100% + 0px)
  }

  .tm-sidebar-left+.tm-main {
    padding-left: 40px
  }
}

@media (min-width: 1400px) {
  .tm-sidebar-left {
    width:300px !important;
    padding: 45px 45px 60px 45px
  }

  .tm-sidebar-right {
    left: calc(100% + 60px)
  }

  .tm-sidebar-left+.tm-main {
    padding-left: 40px
  }
}

.uk-position-relative {
  position: relative !important;
}

.uk-container-small {
  max-width: 700px;
}

em._r {
  font-style: normal;
  color: #E0684B;
}