<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div>
    {% include sticky.html %}
    <div class="uk-hidden@m">
        <div uk-sticky>
            <div class="uk-card uk-card-default uk-card-body" style="padding: 20px">
                <!-- This is a button toggling the off-canvas -->
                <button uk-toggle="target: #menu-documentation" type="button" uk-icon="menu"></button>
                <a class="uk-float-right" href="" uk-totop uk-scroll></a>
                <!-- This is an anchor toggling the off-canvas -->
                <a  href="#menu-documentation" uk-toggle></a>

                <!-- This is the off-canvas -->
                <div id="menu-documentation" uk-offcanvas>
                    <div class="uk-offcanvas-bar">
                        <button class="uk-offcanvas-close" type="button" uk-close></button>
                        <h3>General</h3>
                        <ul class="uk-nav uk-nav-default tm-nav">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Help</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                        </ul>
                        {% include sidebar-documentation.html %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="tm-sidebar-left uk-visible@m">
        {% include sidebar-documentation.html %}
    </div>
    <div class="tm-main uk-section uk-section-default">
        <div id="main" class="uk-container uk-container-small uk-position-relative">
            <div>
                <h1>{{ page.title }}</h1>
                <section>
                    {{ content }}
                </section>
            </div>
            {% if page.no_toc != true %}
            <div class="tm-sidebar-right uk-visible@l">
                <div uk-sticky="offset: 160" class="uk-sticky uk-active uk-sticky-below uk-sticky-fixed" style="position: fixed; top: 160px; width: 200px;">
                    <ul id="sidebar-right" uk-scrollspy-nav="closest: li; scroll: true; offset: 100" class="uk-nav uk-nav-default tm-nav uk-nav-parent-icon">

                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>